{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {
      "targets": { "electron": "7.3.2" },
      "useBuiltIns": "usage",
      "debug": false,
      "corejs": 3
    }]
  ],
  "plugins": []
}
